@layout Layouts.AdminLayout
@page "/admin/kualifikasi"

@inject IVersionProvider VersionProvider
@inject ApplicationDbContext dbcontext

<Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromBottom">Data Kualifikasi</Heading>
<Button Color="Color.Primary" Clicked="@NewModal">Tambah</Button>
<DataGrid TItem="Kualifikasi" Data="@Kualifikasis" ReadData="@OnReadData" TotalItems="@totalKualifikasis" PageSize="10"
    ShowPager Responsive>
    <DataGridColumn Field="@nameof(Kualifikasi.Id)" Caption="#" Sortable="false">
        <DisplayTemplate>
            @context.Id.ToString("D4")
        </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn Field="@nameof(Kualifikasi.Kode)" Caption="Kode" Editable />
    <DataGridColumn Field="@nameof(Kualifikasi.Nama)" Caption="Nama" Editable />
    <DataGridColumn Field="@nameof(Kualifikasi.Keterangan)" Caption="Keterangan" Editable />
    <DataGridColumn Width="150px" Caption="Aksi">
        <DisplayTemplate>
            <Icon class="btn btn-outline-warning" Name="IconName.Edit" Clicked="@(()=> EditModal(context))" />
            <Icon class="btn btn-outline-danger" Name="IconName.Delete" Clicked="@(()=> Delete(context))" />
        </DisplayTemplate>
    </DataGridColumn>
</DataGrid>

<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Tambah/Edit Kualifikasi</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Kode</FieldLabel>
                <TextEdit @bind-Text="@model.Kode" Placeholder="Kode" />
            </Field>

            <Field>
                <FieldLabel>Name</FieldLabel>
                <TextEdit @bind-Text="@model.Nama" Placeholder="Nama" />
            </Field>
            <Field>
                <FieldLabel>Keterangan</FieldLabel>
                <MemoEdit @bind-Text="@model.Keterangan" Placeholder="Keterangan" />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@Save">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>


@code {
    [Inject] IMessageService MessageService { get; set; }
    private Modal modalRef;

    Kualifikasi model = new Kualifikasi();
    private List<Kualifikasi> Kualifikasis;
    protected override async Task OnInitializedAsync()
    {
        Kualifikasis = await dbcontext.Kualifikasis.ToListAsync();
        await base.OnInitializedAsync();
    }

    private int totalKualifikasis;

    private async Task OnReadData(DataGridReadDataEventArgs<Kualifikasi> e)
    {
        if (!e.CancellationToken.IsCancellationRequested)
        {
            List<Kualifikasi> response = null;

            // this can be call to anything, in this case we're calling a fictional api
            //var response = await Http.GetJsonAsync<Kualifikasi[]>( $"some-api/Kualifikasis?page={e.Page}&pageSize={e.PageSize}" );
            if (e.ReadDataMode is DataGridReadDataMode.Virtualize)
                response = await dbcontext.Kualifikasis.Skip(e.VirtualizeOffset).Take(e.VirtualizeCount).ToListAsync();
            else if (e.ReadDataMode is DataGridReadDataMode.Paging)
                response = await dbcontext.Kualifikasis.Skip((e.Page - 1) * e.PageSize).Take(e.PageSize).ToListAsync();
            else
                throw new Exception("Unhandled ReadDataMode");

            if (!e.CancellationToken.IsCancellationRequested)
            {
                totalKualifikasis = await dbcontext.Kualifikasis.CountAsync();
                Kualifikasis = new List<Kualifikasi>(response); // an actual data for the current page
            }
        }
    }



    private Task NewModal()
    {
        model = new Kualifikasi();
        return modalRef.Show();
    }

    private Task HideModal()
    {
        return modalRef.Hide();
    }
    private Task EditModal(Kualifikasi data)
    {
        model = data;
        return modalRef.Show();
    }

    private async Task Save()
    {
        try
        {
            if (model.Id <= 0)
            {
                await dbcontext.Kualifikasis.AddAsync(model);
                await dbcontext.SaveChangesAsync();
                Kualifikasis.Add(model);
            }
            else
            {
                await dbcontext.SaveChangesAsync();
            }
            await modalRef.Hide();
        }
        catch (System.Exception ex)
        {
            await MessageService.Error(ex.Message);
        }
    }


    private async Task Delete(Kualifikasi model)
    {
        if (await MessageService.Confirm("Yakin Hapus Data ?", "Delete"))
        {
            dbcontext.Kualifikasis.Remove(model);
            await dbcontext.SaveChangesAsync();
            Kualifikasis.Remove(model);
        }
    }
}
